<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Countries</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field appearance="outline">
      <mat-icon matPrefix>search</mat-icon>
      <mat-label>Search country</mat-label>
      <input
        matInput
        placeholder="Start typing"
        [(ngModel)]="searchText"
        (ngModelChange)="onSearchChange()"
      />
    </mat-form-field>
    <div *ngIf="isLoading">Loading countries...</div>
    <div class="scrollable-content">
      <mat-list>
        <mat-list-item *ngFor="let country of filteredCountries; trackBy: trackByCountryCode">
          <a>{{ country.name }}</a>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card-content>
</mat-card>
