<mat-toolbar color="primary">
  <span>{{ pageTitle }}</span>
  <span class="spacer"></span>
  <nav mat-tab-nav-bar>
    <a
      mat-tab-link
      routerLink="/home"
      routerLinkActive
      #rla1="routerLinkActive"
      [active]="rla1.isActive"
    >
      Home
    </a>
    <a
      mat-tab-link
      routerLink="/countries"
      routerLinkActive
      #rla2="routerLinkActive"
      [active]="rla2.isActive"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Countries
    </a>
  </nav>
</mat-toolbar>

<div class="content-container">
  <router-outlet></router-outlet>
</div>
